
/* Breadcrumbs */
.breadcrumbs {margin-left: 0; list-style-type: none; clear: both; font-size: 0.7em; -webkit-padding-start: 0px;}
.breadcrumbs li {display: inline; padding: 0px;}
.breadcrumbs li a {color: 494949;}
.breadcrumbs li:after {content: " >> ";}
.breadcrumbs li:last-child {font-weight: bold;}
.breadcrumbs li:last-child:after { content: "";}


body{ max-width: 1025px; margin: auto; border-left: 1px solid; border-right: 1px solid; padding: 5px; height: 100%}

blockquote{border-left: 1px solid black;
padding-left: 10px;
background: lightgray;
padding-bottom: 10px;
word-wrap: break-word;
}

pre{border-radius: 3px 3px 3px 3px;
margin: 9px 0;
border: 1px solid #cccccc;
background: #f5f5f5;
font-size: 12px;
line-height: 1.33333333333333;
font-family: monospace;
word-wrap: break-word;
}

#logoarea {display: none;}
.commentlink {font-size: 0.7em; float: right;}
.statechangetext {font-style: italic;}
.commenttext, .issuedescription {font-family: monospace; }
.issuedescription {padding: 10px 20px 10px; border-top: 1px #D0D0D0 solid;}
table.issueInfo {width: 100%; border: 0px;}
.reporter {font-style: italic; }

.statusOpen {color: red}
.statusClosed {color: green}

.pty4, .pty5 {color: green;}
.pty3 {color: red; }
.pty1, .pty2 {color: red; font-weight: bolder; }
.prevlink {float:left; border-radius: 5px; -moz-border-radius: 5px;}
.nextlink {float:right; border-radius: 5px; -moz-border-radius: 5px;}

.prevlink a {text-decoration: none;}
.nextlink a {text-decoration: none;}
.worklogindex {font-style: italic;}
.timespent {font-weight: bold;}

#worklogblock, #subtasksblock, #linksblock, #attachmentsblock { border: 1px solid #000; padding: 10px; margin-top: 45px; border-left: 0px; border-right: 0px;}
#commentsblock {padding: 10px; margin-top: 40px}
#attachmentsblock table {width: 40%}
#attachmentsblock img {margin: 5px;}

#worklogblock h4, #attachmentsblock h4, #linksblock h4 {margin-top: -30px;}


.favicon {max-width: 20px;}
.issuelistingtable td {text-align: center;}
.issuelistingtable {width: 100%;}
.projectVersionstbl {width: 70%;}


#linksblock table {width: 100%; font-size: 0.8em;}
#linksblock td {padding: 0px 5px;}
 


/* Issue relation types */
/*tr.issueblocks, tr.issueis_blocked_by {background-color: #cc3333;} */ 
tr.related_is_resolved_ {background-color: #ff9; }


.commentMetadata {background-color: #ddd;
border: 1px solid gray;
padding: 5px;
}
.commenttext {border: 1px solid gray; padding: 5px;}
.activityentry {margin-bottom: 20px; box-shadow: 2px 2px #dde;}


/* Project Pages */
.projdesc {font-family: monospace; padding: 10px 20px 10px; border-bottom: 1px #D0D0D0 solid; margin-bottom: 10px; word-wrap: break-word;}
.issSummary {max-width: 300px;}
.issKey {font-weight: bolder; }

/* Homepage specific */

.prjtbl {margin-top: 30px; margin-bottom: 20px;}
.prjtbl th {text-align: left;}
.prjtbl td.prjkey {padding-right: 10px;}

.jsAddition {display: none;}

.flt, .flt_s, .single_flt {height: auto !important;}

div.mobilespacer {display: none; height: 15px;}
div.row {display:block; padding: 10px;}
div.leftcol {float:left; width: 50%}
div.rightcol {float:right; width: 50%}
div.colspan2 {float: left; width: 100%;}

table.timegraph {min-width: 80px; max-width: 150px; line-height: 5px; display: inline-table; border-collapse: collapse;}
tr.estimate .logged {background-color: #89afd7;}
tr.recorded .logged {background-color: #51a825;}
tr.remaining .logged {background-color: #ec8e00;}
td.notlogged {background-color: #cccccc;}

span.timegraphlbl {width: 15%; margin-right: 10px; font-size: 0.9em;}
span.timegraphannota {margin-left: 10px; font-size: 0.9em;}



#isstimelogged .timegraph {line-height: 0.7em; width: 150px;}

/** Media Queries Start **/


@media (max-width: 900px) {
     .issuelistingtable .issAssignee {display: none;}
     #isstimelogged .timegraph {width: 100px;}
}


@media (max-width: 750px) {
        body {
              	max-width: 98%;
                margin: auto;
                border: 0px;
        }

        .nextlink a {font-size: 0.9em;}
        .prevlink a {font-size: 0.9em;}
	.breadcrumbs {font-size: 0.8em;}
       #isstimelogged .timegraph {margin-left: 10px;}

}

@media (max-width: 650px) {
    .nextlink {display: none}
    .prevlink {display: none}
    h1 { font-size: 1em; }
   .breadcrumbs {font-size: 0.9em;}
   .issuelistingtable .issCreated {display: none;}
   #isstimelogged .timegraph {margin-left: 20px;}
}


@media (max-width: 550px) {
     .issuedescription {padding: 1px;}
     div.mobilespacer {display: block;}
     div.leftcol, div.rightcol {float: none; width: 100%;}
     div.row {padding: 0px;}
     .breadcrumbs {font-size: 1em;}
     .issuelistingtable .issRes {display: none;}
     .issuelistingtable {font-size: 0.9em;}
     #subtasksblock .timegraph {width: 40px; min-width: 40px; max-width: 40px;}
}










