
/* Breadcrumbs */
.breadcrumbs {margin-left: 0; list-style-type: none; clear: both; font-size: 0.7em; -webkit-padding-start: 0px;}
.breadcrumbs li {display: inline; padding: 0px;}
.breadcrumbs li a {color: 494949;}
.breadcrumbs li:after {content: " >> ";}
.breadcrumbs li:last-child {font-weight: bold;}
.breadcrumbs li:last-child:after { content: "";}


body{ max-width: 1025px; margin: auto; border-left: 1px solid; border-right: 1px solid; padding: 5px;}

blockquote{border-left: 1px solid black;
padding-left: 10px;
background: lightgray;
padding-bottom: 10px;
word-wrap: break-word;
}

pre{border-radius: 3px 3px 3px 3px;
margin: 9px 0;
border: 1px solid #cccccc;
background: #f5f5f5;
font-size: 12px;
line-height: 1.33333333333333;
font-family: monospace;
word-wrap: break-word;
}


.commentlink {font-size: 0.7em; float: right;}
.statechangetext {font-style: italic;}
.commenttext, .issuedescription {font-family: monospace; }
.issuedescription {padding: 10px 20px 10px; border-top: 1px #D0D0D0 solid;}
table.issueInfo {width: 100%; border: 0px;}
.reporter {font-style: italic; }

.statusOpen {color: red}
.statusClosed {color: green}

.pty4, .pty5 {color: green;}
.pty3 {color: red; }
.pty1, .pty2 {color: red; font-weight: bolder; }
.prevlink {float:left;}
.nextlink {float:right;}
.prevlink a {text-decoration: none;}
.nextlink a {text-decoration: none;}
.worklogindex {font-style: italic;}
.timespent {font-weight: bold;}

#worklogblock, #subtasksblock, #linksblock, #attachmentsblock { border: 1px solid #000; padding: 10px; margin-top: 40px}
#commentsblock {padding: 10px; margin-top: 40px}
#attachmentsblock table {width: 40%}
#attachmentsblock img {margin: 5px;}

.favicon {max-width: 20px;}
.issuelistingtable td {text-align: center;}
.issuelistingtable {width: 90%;}
.projectVersionstbl {width: 70%;}


#linksblock table {width: 100%;}
#linksblock td {padding: 0px 5px;}



/* Issue relation types */
/*tr.issueblocks, tr.issueis_blocked_by {background-color: #cc3333;} */ 
tr.related_is_resolved_ {background-color: #ff9; }


.commentMetadata {background-color: #ddd;
border: 1px solid gray;
padding: 5px;
}
.commenttext {border: 1px solid gray; padding: 5px;}
.activityentry {margin-bottom: 20px; box-shadow: 2px 2px #dde;}


/* Project Pages */
.projdesc {font-family: monospace; padding: 10px 20px 10px; border-bottom: 1px #D0D0D0 solid; margin-bottom: 10px;}
.issSummary {max-width: 300px;}
.issKey {font-weight: bolder; }

/* Homepage specific */

.prjtbl {margin-top: 30px; margin-bottom: 20px;}
.prjtbl th {text-align: left;}
.prjtbl td.prjkey {padding-right: 10px;}

